@import "tailwindcss";

:root {
  --color-bg: #ffffff;
  --color-surface: #f3f4f6;
  --color-text-primary: #111827;
  --color-text-secondary: #6b7280;
  --color-brand: #3b82f6;
  --color-card-bg: #ffffff;
  --color-border: #e5e7eb;
}

html.dark {
  --color-bg: #0f172a;
  --color-surface: #1e293b;
  --color-text-primary: #f8fafc;
  --color-text-secondary: #94a3b8;
  --color-brand: #60a5fa;
  --color-card-bg: #1e293b;
  --color-border: #334155;
}