@import "tailwindcss";

@theme {

  /* Main colors */
  --color-bgMain: #f7f1f1;
  --color-bgSection: #fff9f9;
  --color-text-primary: #151c36;
  --color-text-secondary: #ee5544;
  --color-text-terthary: #fff9f9;

  /* Experience Section */
  --color-barExperience: #fcefee;

  /* Stack Section */
  --color-bgCard:#151c36;
  --color-bgInsideCard:#fff9f9;

  /* Contact */
  --color-bgContact:#fd7744;
  --color-boderContact: #5c2f3b;
}

html.dark {
  --color-bgMain: #f7f1f1;
  --color-bgSection: #fff9f9;
  --color-text-primary: #151c36;
  --color-text-secondary: #ee5544;
  --color-text-terthary: #fff9f9;

  /* Experience Section */
  --color-barExperience: #fcefee;

  /* Stack Section */
  --color-bgCard:#151c36;
  --color-bgInsideCard:#fff9f9;

  /* Contact */
  --color-bgContact:#fd7744;
  --color-boderContact: #5c2f3b;
}