.sky {
    position: relative;
    background-image: url("/img/sky.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    width: 100%;
    overflow: hidden;
}



.me {
    position: absolute;
    width: 100px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* ✅ centra respecto al padre */
    opacity: 100%;
    transition: opacity 1000ms ease;
}

.sun {
    position: absolute;
    width: 150px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* ✅ centra respecto al padre */
    filter: brightness(1.2);
    mix-blend-mode: screen;
    opacity: 0%;
    transition: opacity 1000ms ease;
}


.me.both:hover {
  opacity: 0%;
}

.sun.both:hover {
  opacity: 100%;
}