
.scene{
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("/public/img/Sky.png") center / cover no-repeat;
}

.clouds {
  position: absolute;
  top: 0;
  width: 200%;
  height: 100%;
  background-repeat: repeat-x;
  background-size: contain;
  animation: moveClouds linear infinite;
  z-index: 2;
}

.clouds-1 {
  background-image: url("/public/img/canva.png");
  background-repeat: repeat; 
  background-size: contain;
  opacity: 0.6;
}
