.scene {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background: url("/img/skyDay.png") center / cover no-repeat;
}

.clouds-wrapper {
    position: absolute;
    inset: 0;
    overflow: hidden;
}

.clouds-track {
    display: flex;
    width: 200%; 
    height: 100%;
    animation: moveClouds 80s linear infinite;
}

.cloud {
    width: 100vw;              /* ocupa toda la pantalla */
    height: 100%;
    flex-shrink: 0;

    background: url("/img/cloud.png") repeat-x;
    background-size: auto 100%;

    opacity: 0.4;

    mask-image: linear-gradient(
        to right,
        transparent -9%,
        black 50%,
        black 50%,
        transparent 109%
    );
}

@keyframes moveClouds {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-50%);
    }
}
